<mat-card>
    <form (submit)="onEditMovie(movieForm)" #movieForm="ngForm">
        <mat-form-field>
            <label> Movie Title</label>
            <input matInput type="text" name="title" ngModel={{movie.title}} required #title="ngModel">
        </mat-form-field>
        <mat-form-field>
            <label>Movie Year</label>
            <textarea matInput name="year" ngModel={{movie.year}} required #content="ngModel"></textarea>
        </mat-form-field>
        <mat-form-field>
            <label>Movie Poster</label>
            <textarea matInput rows="4" name="poster" ngModel={{movie.poster}} required #content="ngModel"></textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Edit Movie</button>
    </form>
</mat-card>    
